[submodule "A1"]
	path = A1
	url = https://github.com/ankurshaswat/Conference-Paper-Scheduler
[submodule "A2"]
	path = A2
	url = https://github.com/ankurshaswat/Yinsh
[submodule "A3"]
	path = A3
	url = https://github.com/ankurshaswat/DrugDiscovery
[submodule "A4"]
	path = A4
	url = https://github.com/4rshdeep/blackjack
